<nz-layout style="min-height: 100%" id="layout">
  <nz-header style="padding:0;">
    <app-nav-header></app-nav-header>
  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="width" [nzReverseArrow]="isReverseArrow" style="background-color: #ffffff">
      <ul nz-menu [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
        <ng-container *ngFor="let menu of menus">
          <li nz-menu-item *ngIf="!menu.children||menu.children.length===0" [routerLink]="menu.funcUrl">
            <span><i nz-icon type="file"></i><span class="nav-text">{{menu.name}}</span></span>
          </li>
          <li nz-submenu *ngIf="menu.children&&menu.children.length!==0">
            <span title><i nz-icon [type]="'team'"></i><span class="nav-text">{{menu.name}}</span></span>
            <ul>
              <li nz-menu-item *ngFor="let subMenu of menu.children" [routerLink]="subMenu.funcUrl">{{subMenu.name}}</li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </nz-sider>
    <nz-content style="margin:24px;">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>

