<nz-card style="width:100%;min-height: 100%;" [nzBordered]="false" nzTitle="用户管理">
  <form nz-form [nzLayout]="'inline'">
    <nz-form-item>
      <nz-form-label>用户名</nz-form-label>
      <nz-form-control>
        <input [(ngModel)]="name" nz-input [ngModelOptions]="{standalone: true}" placeholder="请输入用户名"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item style="margin-left: 40px">
      <nz-form-label>所属区域</nz-form-label>
      <nz-form-control>
        <input [value]="regionName" nz-input placeholder="请选择所属区域" readonly (click)="showChooseRegionModal=true"/>
      </nz-form-control>
      <app-tree-modal [(show)]="showChooseRegionModal" (result)="getResult($event)"></app-tree-modal>
    </nz-form-item>
    <nz-form-item style="margin-left: 40px">
      <nz-form-label>用户角色</nz-form-label>
      <nz-form-control>
        <nz-select style="width: 170px;" [(ngModel)]="roleId" name="roleId" [nzAllowClear]="true" nzPlaceHolder="请选择角色">
          <nz-option *ngFor="let item of roleList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item style="margin-left: 40px">
      <nz-form-control>
        <button nz-button nzType="primary" (click)="getUserList()">查询</button>
        <button nz-button nzType="default" type="reset" style="margin-left: 20px">重置</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <button nz-button nzType="primary" style="margin: 20px 0 4px 0;" (click)="addUser()">
    <i nz-icon nzType="plus"></i>新增
  </button>
  <button nz-button nzType="danger" style="margin: 20px 0 4px 10px;" (click)="batchDeleteUser()"><i nz-icon
                                                                                                    nzType="delete"></i>删除用户
  </button>
  <button nz-button style="margin: 20px 0 4px 10px;" (click)="showGiveRoleModal()"><i nz-icon nzType="edit"></i>赋予角色
  </button>
  <button nz-button style="margin: 20px 0 4px 10px;" [nzLoading]="isExportUserLoading" (click)="exportUser()"><i nz-icon
                                                                                                                 nzType="export"></i>导出
  </button>
  <nz-table #userTable id="userTable" [nzBordered]="true"
            [nzData]="userList" (click)="handleTableClick($event)"
            [nzLoading]="loading"
            [nzShowSizeChanger]="true"
            [nzShowQuickJumper]="true"
            [nzFrontPagination]="false"
            [(nzPageIndex)]="pageNumber"
            [(nzPageSize)]="pageSize"
            (nzPageIndexChange)="getUserList()"
            (nzPageSizeChange)="pageNumber = 1;getUserList()"
            [nzTotal]="total"
            [nzShowTotal]="totalTemplate">
    <thead>
    <ng-template #totalTemplate let-total> 共 {{ total }} 条</ng-template>
    <tr>
      <th width="60"
          [nzShowCheckbox]="true"
          [nzChecked]="checkedUserList.length===userList.length"
          [nzIndeterminate]="checkedUserList.length!==0&&checkedUserList.length!==pageSize"
          (nzCheckedChange)="checkAll($event)">
      </th>
      <th width="60">序号</th>
      <th>用户名</th>
      <th>姓名</th>
      <th>性别</th>
      <th>手机号</th>
      <th>创建时间</th>
      <th width="280">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of userList;let i=index;">
      <td [nzShowCheckbox]="true"
          (nzCheckedChange)="checkOne($event,item)"
          [(nzChecked)]="mapOfCheckedId[item.id]"
      ></td>
      <td>{{i+pageSize*(pageNumber-1)+1}}</td>
      <td>{{item.userName}}</td>
      <td>{{item.name}}</td>
      <td>{{item.gender===1?'男':'女'}}</td>
      <td>{{item.cellphone}}</td>
      <td>{{item.createTime}}</td>
      <td style="text-align: center">
        <button nz-button nzSize="small" data-method="detail" [attr.data-id]="item.id">详情</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" nzSize="small" data-method="modify" [attr.data-id]="item.id">修改</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzSize="small" data-method="reset" [attr.data-id]="item.id">重置密码</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="danger" nzSize="small" data-method="delete" [attr.data-id]="item.id">删除</button>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
<!--赋予角色-->
<nz-modal
  [(nzVisible)]="isGiveRoleModalVisible"
  nzTitle="赋予角色"
  nzWidth="600"
  [nzOkLoading]="isGiveRoleOkLoading"
  (nzOnOk)="giveRole()"
  (nzOnCancel)="isGiveRoleModalVisible=false;"
>
  <div style="height: 300px;display: flex;justify-content: center">
    <nz-select
      style="width: 500px;"
      [nzShowSearch]="true"
      [nzAllowClear]="true"
      nzPlaceHolder="请选择角色"
      [(ngModel)]="selectedRole"
    >
      <nz-option *ngFor="let item of roleList" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
    </nz-select>
  </div>
</nz-modal>
<nz-modal
  [(nzVisible)]="isDetailModalVisible"
  nzTitle="详情"
  nzWidth="800"
  [nzFooter]="null"
  (nzOnCancel)="isDetailModalVisible=false;"
>
  <nz-divider nzText="基本信息" nzOrientation="left"></nz-divider>
  <div style="padding-left: 10px">
    <div nz-row class="detail-modal-item">
      <div nz-col [nzSpan]="3">用户角色：</div>
      <div nz-col [nzSpan]="7">{{selectedUser.roleNameList}}</div>
    </div>
    <div nz-row class="detail-modal-item">
      <div nz-col [nzSpan]="3">姓名：</div>
      <div nz-col [nzSpan]="7">{{selectedUser.name}}</div>
      <div nz-col [nzSpan]="3" [nzOffset]="2">用户名：</div>
      <div nz-col [nzSpan]="7">{{selectedUser.userName}}</div>
    </div>
    <div nz-row class="detail-modal-item">
      <div nz-col [nzSpan]="3">别名：</div>
      <div nz-col [nzSpan]="7">{{selectedUser.alias}}</div>
      <div nz-col [nzSpan]="3" [nzOffset]="2">所属区域：</div>
      <div nz-col [nzSpan]="7">{{selectedUser.regionName}}</div>
    </div>
    <div nz-row class="detail-modal-item">
      <div nz-col [nzSpan]="3">状态：</div>
      <div nz-col [nzSpan]="7">{{selectedUser.statusText}}</div>
      <div nz-col [nzSpan]="3" [nzOffset]="2">用户职位：</div>
      <div nz-col [nzSpan]="7">{{selectedUser.position}}</div>
    </div>
    <div nz-row class="detail-modal-item">
      <div nz-col [nzSpan]="3">手机号码：</div>
      <div nz-col [nzSpan]="7">{{selectedUser.cellphone}}</div>
      <div nz-col [nzSpan]="3" [nzOffset]="2">网页端登录：</div>
      <div nz-col [nzSpan]="7">{{selectedUser.allowLogWeb?'允许':'不允许'}}</div>
    </div>
    <div nz-row class="detail-modal-item">
      <div nz-col [nzSpan]="3">手机端登录：</div>
      <div nz-col [nzSpan]="7">{{selectedUser.allowLogMobile?'允许':'不允许'}}</div>
    </div>
    <div nz-row class="detail-modal-item">
      <div nz-col [nzSpan]="3">用户头像：</div>
      <div nz-col [nzSpan]="7">
        <img [src]="fileUrl+selectedUser.userImage" style="height: 72px;width: 72px;border-radius: 4px">
      </div>
    </div>
  </div>
  <nz-divider nzText="其他信息" nzOrientation="left"></nz-divider>
  <div style="padding-left: 10px">
    <div nz-row class="detail-modal-item">
      <div nz-col [nzSpan]="3">性别：</div>
      <div nz-col [nzSpan]="7">{{selectedUser.gender===1?'男':'女'}}</div>
      <div nz-col [nzSpan]="3" [nzOffset]="2">生日：</div>
      <div nz-col [nzSpan]="7">{{selectedUser.birthday}}</div>
    </div>
    <div nz-row class="detail-modal-item">
      <div nz-col [nzSpan]="3">生日：</div>
      <div nz-col [nzSpan]="7">{{selectedUser.name}}</div>
      <div nz-col [nzSpan]="3" [nzOffset]="2">邮箱地址：</div>
      <div nz-col [nzSpan]="7">{{selectedUser.email}}</div>
    </div>
    <div nz-row class="detail-modal-item">
      <div nz-col [nzSpan]="3">微信账号：</div>
      <div nz-col [nzSpan]="7">{{selectedUser.weixin}}</div>
      <div nz-col [nzSpan]="3" [nzOffset]="2">QQ号：</div>
      <div nz-col [nzSpan]="7">{{selectedUser.qq}}</div>
    </div>
    <div nz-row class="detail-modal-item">
      <div nz-col [nzSpan]="3">备注：</div>
      <div nz-col [nzSpan]="19">{{selectedUser.description}}</div>
    </div>
  </div>
</nz-modal>

