<div style="width: 100%;">
  <div style="height: 600px">
    <app-distribute-chart></app-distribute-chart>
  </div>
  <div style="display: flex;flex-wrap: wrap;justify-content: space-between;margin-top: 40px">
    <div style="width: 31%;min-width: 360px;">
      <nz-card [nzBordered]="false" nzTitle="租户套餐占比">
        <app-product-percent></app-product-percent>
      </nz-card>
    </div>
    <div style="width: 31%;min-width: 360px;">
      <nz-card [nzBordered]="false" nzTitle="套餐内实际许可用户数">
        <app-actual-use></app-actual-use>
      </nz-card>
    </div>
    <div style="width: 31%;min-width: 360px;">
      <nz-card [nzBordered]="false" nzTitle="阿里云资源使用情况">
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </nz-card>
    </div>
  </div>
</div>
