<nz-card style="width:100%;min-height: 100%;" [nzBordered]="false" nzTitle="信息反馈">
  <form nz-form [nzLayout]="'inline'">
    <nz-form-item>
      <nz-form-label>标题</nz-form-label>
      <nz-form-control>
        <input [(ngModel)]="title" [ngModelOptions]="{standalone: true}" nz-input placeholder="请输入标题"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item style="margin-left: 40px">
      <nz-form-label>类型</nz-form-label>
      <nz-form-control>
        <nz-select style="width: 170px;" [(ngModel)]="type" [ngModelOptions]="{standalone: true}" nzAllowClear
                   nzPlaceHolder="请选择类型">
          <nz-option nzValue="" nzLabel="全部"></nz-option>
          <nz-option nzValue="1" nzLabel="问题"></nz-option>
          <nz-option nzValue="2" nzLabel="建议"></nz-option>
          <nz-option nzValue="3" nzLabel="其他"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item style="margin-left: 40px">
      <nz-form-label>时间</nz-form-label>
      <nz-form-control>
        <nz-range-picker (ngModelChange)="handleDateChange($event)" [nzShowTime]="{ nzFormat: 'HH:mm:ss' }"
                         nzFormat="yyyy-MM-dd HH:mm:ss" [(ngModel)]="time"
                         [ngModelOptions]="{standalone: true}"></nz-range-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item style="margin-left: 40px">
      <nz-form-control>
        <button nz-button nzType="primary" (click)="getInformationFeedbackList()">查询</button>
        <button nz-button nzType="default" type="button" (click)="resetSearchCondition()" style="margin-left: 20px">
          重置
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <nz-table #basicTable [nzBordered]="true" [nzData]="informationFeedbackList" style="margin-top: 24px;"
            (click)="handleTableClick($event)"
            [nzLoading]="loading"
            [nzShowQuickJumper]="true"
            [nzShowSizeChanger]="true"
            [nzFrontPagination]="false"
            [(nzPageIndex)]="pageNumber"
            [(nzPageSize)]="pageSize"
            (nzPageIndexChange)="getInformationFeedbackList()"
            (nzPageSizeChange)="pageNumber = 1;getInformationFeedbackList()"
            [nzTotal]="total"
            [nzScroll]="{ x: '1400px' }"
            [nzShowTotal]="totalTemplate">
    <thead>
    <ng-template #totalTemplate let-total> 共 {{ total }} 条 </ng-template>
    <tr>
      <th width="60">序号</th>
      <th width="100">编号</th>
      <th width="180">标题</th>
      <th>答复</th>
      <th width="100">类型</th>
      <th width="160">提出时间</th>
      <th width="160">答复时间</th>
      <th width="120">答复人</th>
      <th width="200">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of informationFeedbackList;let i = index;">
      <td>{{i+(pageNumber-1)*pageSize+1}}</td>
      <td>{{item.num}}</td>
      <td>{{item.title}}</td>
      <td>{{item.replyContent}}</td>
      <td>{{typeEnum[item.type]}}</td>
      <td>{{item.createTime}}</td>
      <td>{{item.replyTime}}</td>
      <td>{{item.replyUsername}}</td>
      <td style="width: 200px;text-align: center">
        <button nz-button nzType="default" nzSize="small" data-method="detail" [attr.data-id]="item.id">详情</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="danger" nzSize="small" data-method="delete" [attr.data-id]="item.id">删除</button>
        <ng-container *ngIf="!item.replyId">
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button nzType="primary" nzSize="small" data-method="reply" [attr.data-id]="item.id">答复</button>
        </ng-container>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
<!--详情弹出框-->
<nz-modal
  [(nzVisible)]="isDetailModalVisible"
  nzTitle="详情"
  [nzFooter]="null"
  (nzOnCancel)="isDetailModalVisible=false"
>
  <div class="detail-modal">
    <div class="detail-modal-item">
    <span class="detail-modal-item-label">编号：</span>
    <span class="detail-modal-item-content">{{selected.num}}</span>
    </div>
    <div class="detail-modal-item">
    <span class="detail-modal-item-label">标题：</span>
    <span class="detail-modal-item-content">{{selected.title}}</span>
    </div>
    <div class="detail-modal-item">
    <span class="detail-modal-item-label">答复：</span>
    <span class="detail-modal-item-content">{{selected.replyContent}}</span>
    </div>
    <div class="detail-modal-item">
    <span class="detail-modal-item-label">类型：</span>
    <span class="detail-modal-item-content">{{typeEnum[selected.status]}}</span>
    </div>
    <div class="detail-modal-item">
    <span class="detail-modal-item-label">提出时间：</span>
    <span class="detail-modal-item-content">{{selected.createTime}}</span>
    </div>
    <div class="detail-modal-item">
    <span class="detail-modal-item-label">答复时间： </span>
    <span class="detail-modal-item-content"> {{selected.replyTime}}</span>
    </div>
    <div class="detail-modal-item">
    <span class="detail-modal-item-label">答复人：</span>
    <span class="detail-modal-item-content">{{selected.replyUsername}}</span>
    </div>

  </div>
</nz-modal>
<!--答复弹出框-->
<nz-modal
  [(nzVisible)]="isReplyModalVisible"
  nzTitle="答复建议"
  [nzFooter]="null"
  (nzOnCancel)="isReplyModalVisible=false"
  nzWidth="800"
>
  <div nz-row style="padding: 5px 0">
    <div nz-col [nzSpan]="2" [nzOffset]="1">标题：</div>
    <div nz-col [nzSpan]="7">{{selected.title}}</div>
    <div nz-col [nzSpan]="2" [nzOffset]="2">编号：</div>
    <div nz-col [nzSpan]="7">{{selected.num}}</div>
  </div>
  <div nz-row style="padding: 5px 0">
    <div nz-col [nzSpan]="2" [nzOffset]="1">类型：</div>
    <div nz-col [nzSpan]="7">{{selected.type}}</div>
    <div nz-col [nzSpan]="2" [nzOffset]="2" style="white-space: nowrap">提出时间：</div>
    <div nz-col [nzSpan]="7">{{selected.createTime}}</div>
  </div>
  <div nz-row style="padding: 5px 0">
    <div nz-col [nzSpan]="2" [nzOffset]="1">内容：</div>
    <div nz-col [nzSpan]="20">{{selected.content}}</div>
  </div>
  <div nz-row style="padding: 5px 0">
    <div nz-col [nzSpan]="2" [nzOffset]="1">附件：</div>
    <div nz-col [nzSpan]="20">{{selected.type}}</div>
  </div>
  <nz-divider></nz-divider>
  <form nz-form [formGroup]="replyForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzRequired>状态</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <nz-select formControlName="status" name="status" nzPlaceHolder="请选择状态">
          <nz-option nzValue="1" nzLabel="无效问题"></nz-option>
          <nz-option nzValue="2" nzLabel="无法验证"></nz-option>
          <nz-option nzValue="3" nzLabel="处理中"></nz-option>
        </nz-select>
        <nz-form-explain
          *ngIf="(replyForm.get('status')?.dirty && replyForm.get('status')?.errors) ||replyForm.get('status')?.pending">
          <ng-container *ngIf="replyForm.get('status')?.hasError('required')">
            请选择状态!
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzRequired>答复内容</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <textarea rows="3" nz-input="" formControlName="content" name="content" placeholder="请输入答复内容"></textarea>
        <nz-form-explain
          *ngIf="(replyForm.get('content')?.dirty && replyForm.get('content')?.errors) ||replyForm.get('content')?.pending">
          <ng-container *ngIf="replyForm.get('content')?.hasError('required')">
            请输入答复内容!
          </ng-container>
          <ng-container *ngIf="replyForm.get('content')?.hasError('maxlength')">
            答复内容字数不能超过400!
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3">附件</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-upload
          [nzFileList]="fileList"
          nzMultiple
          [nzLimit]="4"
          [nzFilter]="filters"
          [nzCustomRequest]="customUploadReq"
          [nzRemove]="removeFile"
        >
          <button nz-button type="button"><i nz-icon nzType="upload"></i><span>上传</span></button>
        </nz-upload>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="3">
        <button nz-button nzType="primary" type="submit" [nzLoading]="isSaveLoading">保存</button>
        <button nz-button nzType="default" type="button" style="margin-left: 20px" (click)="isReplyModalVisible=false">取消</button>
      </nz-form-control>
    </nz-form-item>
  </form>

</nz-modal>
