<nz-card
  [nzBordered]="false"
  nzTitle="新增用户"
>

  <nz-divider nzText="基本信息" nzOrientation="left"></nz-divider>
  <form nz-form [formGroup]="userForm" (ngSubmit)="submitForm()">
    <div nz-row>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzRequired]="true">用户角色</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <nz-select formControlName="roleIds" nzPlaceHolder="请选择用户角色" nzMode="multiple" [nzMaxTagCount]="3"
                       [nzMaxTagPlaceholder]="tagPlaceHolder">
              <ng-template #tagPlaceHolder let-selectedList>共选择{{ selectedList.length+3 }}个</ng-template>
              <nz-option *ngFor="let role of roleList" [nzLabel]="role.name" [nzValue]="role.id"></nz-option>
            </nz-select>
            <nz-form-explain
              *ngIf=" (userForm.get('roleIds')?.dirty && userForm.get('roleIds')?.errors) || userForm.get('roleIds')?.pending ">
              <ng-container *ngIf="userForm.get('roleIds')?.hasError('required')">
                请选择用户角色!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzRequired]="true">姓名</nz-form-label>
          <nz-form-control [nzSpan]="17" nzErrorTip="请输入姓名!">
            <input nz-input formControlName="name" placeholder="请输入姓名"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzRequired]="true">用户名</nz-form-label>
          <nz-form-control [nzSpan]="17" [nzHasFeedback]="true">
            <input nz-input formControlName="userName" placeholder="请输入用户名"/>
            <nz-form-explain
              *ngIf=" (userForm.get('userName')?.dirty && userForm.get('userName')?.errors) || userForm.get('userName')?.pending ">
              <ng-container *ngIf="userForm.get('userName')?.hasError('required')">
                请输入用户名!
              </ng-container>
              <ng-container *ngIf="userForm.get('userName')?.hasError('pattern')">
                用户名由字母或字母和数字组成!
              </ng-container>
              <ng-container *ngIf="userForm.get('userName')?.hasError('userNameExistError')">
                该用户名已存在!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">别名</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <input nz-input formControlName="alias" placeholder="请输入别名"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzRequired]="true">登录密码</nz-form-label>
          <nz-form-control [nzSpan]="17" [nzHasFeedback]="true">
            <input nz-input type="password" formControlName="password" placeholder="请输入登录密码" nz-tooltip
                   [nzTitle]="passwordCheckInfo.msg"/>
            <nz-form-explain
              *ngIf=" (userForm.get('password')?.dirty && userForm.get('password')?.errors) || userForm.get('password')?.pending ">
              <ng-container *ngIf="userForm.get('password')?.hasError('required')">
                请输入登录密码!
              </ng-container>
              <ng-container *ngIf="userForm.get('password')?.hasError('minlength')">
                密码长度不少于7位!
              </ng-container>
              <ng-container
                *ngIf="!userForm.get('password')?.hasError('minlength')&&userForm.get('password')?.hasError('pattern')">
                请输入符合要求的密码!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzRequired]="true">确认密码</nz-form-label>
          <nz-form-control [nzSpan]="17" [nzHasFeedback]="true">
            <input nz-input type="password" formControlName="secondInputPassword" placeholder="请再次输入登录密码"/>
            <nz-form-explain
              *ngIf=" (userForm.get('secondInputPassword')?.dirty && userForm.get('secondInputPassword')?.errors) || userForm.get('secondInputPassword')?.pending ">
              <ng-container *ngIf="userForm.get('secondInputPassword')?.hasError('required')">
                请确认登录密码!
              </ng-container>
              <ng-container *ngIf="userForm.get('secondInputPassword')?.hasError('notEqualWithFirstInput')">
                前后两次输入不一致!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">用户职位</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <input nz-input formControlName="position" placeholder="请输入用户职位"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzRequired]="true">手机号码</nz-form-label>
          <nz-form-control [nzSpan]="17" [nzHasFeedback]="true">
            <input nz-input formControlName="cellphone" placeholder="请输入手机号码"/>
            <nz-form-explain
              *ngIf=" (userForm.get('cellphone')?.dirty && userForm.get('cellphone')?.errors) || userForm.get('cellphone')?.pending ">
              <ng-container *ngIf="userForm.get('cellphone')?.hasError('required')">
                请输入手机号码!
              </ng-container>
              <ng-container *ngIf="userForm.get('cellphone')?.hasError('pattern')">
                请输入正确的手机号码!
              </ng-container>
              <ng-container *ngIf="userForm.get('cellphone')?.hasError('cellphoneExistError')">
                该手机号码已注册!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzRequired]="true">所属区域</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <input nz-input [value]="regionName" placeholder="请选择所属区域" style="cursor: pointer" readonly
                   (click)="showChooseRegion=true"/>
            <nz-form-explain style="color: red"
                             *ngIf=" (userForm.get('regionId')?.dirty && userForm.get('regionId')?.errors) || userForm.get('regionId')?.pending ">
              <ng-container *ngIf="userForm.get('regionId')?.hasError('required')">
                请选择所属区域!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <app-tree-modal [(show)]="showChooseRegion" (result)="getRegion($event)"></app-tree-modal>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">网页端登录</nz-form-label>
          <nz-form-control [nzSpan]="16" [nzOffset]="1">
            <nz-switch formControlName="allowLogWeb" nzCheckedChildren=" 允许 " nzUnCheckedChildren="不允许"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">手机端登录</nz-form-label>
          <nz-form-control [nzSpan]="16" [nzOffset]="1">
            <nz-switch formControlName="allowLogMobile" nzCheckedChildren=" 允许 " nzUnCheckedChildren="不允许"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">用户头像</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <nz-upload
              class="avatar-uploader"
              [nzCustomRequest]="customUploadReq"
              nzName="avatar"
              nzListType="picture-card"
              [(nzFileList)]="fileList"
              [nzShowButton]="fileList.length < 1"
              [nzShowUploadList]="showUploadList"
              [nzPreview]="handlePreview"
              [nzFilter]="filters"
            >
              <i nz-icon nzType="plus"></i>
              <div class="ant-upload-text">上传头像</div>
            </nz-upload>
            <nz-modal
              [nzVisible]="previewVisible"
              [nzContent]="modalContent"
              [nzFooter]="null"
              (nzOnCancel)="previewVisible = false"
            >
              <ng-template #modalContent>
                <img [src]="previewImage" style="width: 100%"/>
              </ng-template>
            </nz-modal>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-divider style="margin-bottom: 4px" nzText="其他信息" nzOrientation="left"></nz-divider>
    <div nz-row>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">性别</nz-form-label>
          <nz-form-control [nzSpan]="16" [nzOffset]="1">
            <nz-radio-group formControlName="gender">
              <label nz-radio [nzValue]="1">男</label>
              <label nz-radio [nzValue]="2">女</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">生日</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <nz-date-picker formControlName="birthday"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">邮箱地址</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <input nz-input formControlName="email" placeholder="请输入邮箱地址"/>
            <nz-form-explain
              *ngIf=" (userForm.get('email')?.dirty && userForm.get('email')?.errors) || userForm.get('email')?.pending ">
              <ng-container *ngIf="userForm.get('email')?.hasError('email')">
                请输入正确的邮箱地址!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">微信账号</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <input nz-input formControlName="weixin" placeholder="请输入微信账号"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">QQ号</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <input nz-input formControlName="qq" type="number" placeholder="请输入QQ号"/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="16">
        <nz-form-item>
          <nz-form-label [nzSpan]="3">备注</nz-form-label>
          <nz-form-control [nzSpan]="20">
            <textarea nz-input formControlName="description" rows="3" placeholder="请输入描述"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-control [nzSpan]="17" [nzOffset]="6">
            <button nz-button nzType="primary" type="submit" [nzLoading]="buttonLoading">保存</button>
            <app-back-button style="margin-left: 20px">返回</app-back-button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

</nz-card>
