/* You can add global styles to this file, and also import other style files */
/*表格内容不换行，溢出显示省略号*/
table{
  table-layout: fixed;
}
table td{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*激活菜单的背景颜色*/
.route-active{
  background-color: #1890ff;
  color: #ffffff !important;
}
.route-active:hover{
  background-color: #1890ff !important;
  color: #ffffff;
}

/*弹出框详情样式*/
.detail-modal{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.detail-modal-item{
  padding: 8px 0;
  display: flex;
  align-items: flex-start;
}
.detail-modal .detail-modal-item-label{
  width: 120px;
}
.detail-modal .detail-modal-item-content{
  width: 400px;
}

/*输入框后面的说明，提示信息*/
.input-info{
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translate(100%,-50%);
}

/*树形组件每个节点padding*/
.ant-tree li{
  padding: 0 !important;
  margin:-2px 0 !important;
}

/*ztree设置*/
.ztree span{
  font-size: 14px;
}
.ztree li[treenode]{
  padding: 1px 0;
}
