<div
  style="height: 100%;background:url('assets/sign-bg.png'),linear-gradient(#1F64DB,#33AFF9) ;">
  <div
    style="height: 80%;width: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;">
    <nz-card>
      <h1 style="font-size: 32px;margin-bottom: 40px">智慧河长云业务支撑系统</h1>
      <form nz-form [formGroup]="signInForm" style="padding: 10px 30px" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control [nzHasFeedback]="true" nzErrorTip="请输入用户名">
            <nz-input-group [nzPrefix]="prefixUser">
              <input type="text" nz-input formControlName="loginName" placeholder="用户名"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzHasFeedback]="true" [nzErrorTip]="passwordErrorTpl">
            <nz-input-group [nzPrefix]="prefixLock">
              <input type="password" nz-input formControlName="password" placeholder="密码"/>
            </nz-input-group>
            <ng-template #passwordErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                请输入密码
              </ng-container>
              <ng-container *ngIf="control.hasError('shorterThanExpected')">
                密码长度不能小于7个字符
              </ng-container>
              <ng-container *ngIf="control.hasError('longerThanExpected')">
                密码长度不能大于16个字符
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="请输入验证码">
            <nz-input-group>
              <input type="text" nz-input formControlName="imageCode" style="width: 50%" placeholder="验证码"/>
              <div style="display: inline-flex;justify-content: center;align-items: center;height: 100%;width: 50%">
                <div style="display: inline-block;width: 60px;height: 30px;cursor: pointer"
                     (click)="reFreshVerificationCode()" [ngStyle]="verificationCodeStyle"></div>
              </div>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <label nz-checkbox (nzCheckedChange)="handleRememberChange($event)" [(ngModel)]="remember"
                   [ngModelOptions]="{standalone: true}">
              <span>记住用户名</span>
            </label>
            <button nz-button class="login-form-button" style="width: 100%;margin-top: 10px" nzSize="large"
                    nzType="primary" [disabled]="!signInForm.valid" [nzLoading]="isSigning">登 录
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
      <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
      <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
    </nz-card>
  </div>
</div>
